<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FREE_ASTRO_API_KEY</key>
	<string>$(FREE_ASTRO_API_KEY)</string>
	<key>AI_PROXY_BASE_URL</key>
	<string>$(AI_PROXY_BASE_URL)</string>
	<key>ASTRO_PROXY_BASE_URL</key>
	<string>$(ASTRO_PROXY_BASE_URL)</string>
	<key>ALLOW_DIRECT_PROVIDER_CALLS</key>
	<string>$(ALLOW_DIRECT_PROVIDER_CALLS)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>El falı analizi için kamera erişimi gerekiyor.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>El falı analizi için fotoğraf seçimi gerekiyor.</string>
	<key>OPENROUTER_API_KEY</key>
	<string>$(OPENROUTER_API_KEY)</string>
	<key>OPENROUTER_MODEL</key>
	<string>$(OPENROUTER_MODEL)</string>
	<key>PREMIUM_PRODUCT_IDS</key>
	<string>$(PREMIUM_PRODUCT_IDS)</string>
	<key>TERMS_OF_USE_URL</key>
	<string>$(TERMS_OF_USE_URL)</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
